@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}
html{
	font-size: 62.5%  /* 62.5% == 10px*/;
	box-sizing: border-box;
}
*, *::before, *::after{
	box-sizing: inherit;
}
body{
	font-size: 1.6rem;
    font-family: 'Red Hat Display', sans-serif;
    background: var(--Pale-blue) url('../assets/svg/pattern-background-desktop.svg') no-repeat;
}
/* ESTILOS GENERALES */
.container{
    width: 100%;
    height: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 40rem;
    height: 60rem;
    background-color: #fff;
    border-radius: 1.6rem;
}
.card__img{
    width: 100%;
    height: 20rem;
    background-image: url('../assets/svg/illustration-hero.svg');
    border-radius: 1.6rem 1.6rem 0 0;
}
.card__content{
    padding: 2rem 4rem;
}
.card__title, .card__text{
    text-align: center;
}
.card__title{
    font-size: 2.8rem;
}
.card__text{
    line-height: 1.4;
    color: var(--Desaturated-blue);
}
.card__plan{
    padding: 1.5rem;
    background-color: var(--Very-pale-blue);
    border-radius: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.2rem;
}
.card__plan a{
    color: var(--Bright-blue);
    transition: all 300ms;
}
.card__plan a:hover{
    text-decoration: none;
    color: var(--Dark-blue);
}
.card__annual{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__price{
    margin-left: 1.5rem;
}
.card__price h5{
    font-size: 1.6rem;
    margin: 0 0 .8rem 0;
    color: var(--Dark-blue);
}
.card__price p{
    margin: 0;
    color: var(--Desaturated-blue);
}
.card__change{
    color: var(--Dark-blue);
}
.btn{
    width: 100%;
    margin-bottom: 8px;
    padding: 1.5rem;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 700;
}
.btn--pay{
    color: var(--Very-pale-blue);
    background-color: var(--Bright-blue);
}
.btn--pay:hover{
    opacity: .8;
}
.btn--cancel{
    margin: 0;
    background-color: transparent;
    color: var(--Desaturated-blue);
}
.btn--cancel:hover{
    color: var(--Dark-blue);
}
.attribution{
    text-align: center;
	margin: 4rem 0;
	color: var(--White);
}
@media (max-width: 375px) {
    body{
        font-size: 1.5rem;
    }
}